langchain-core==0.3.34
langchain>=0.3.18
langchain-community>=0.0.38
langchain-openai>=0.3.4
langchain-chroma>=0.2.1
chromadb==0.4.24
neo4j==5.17.0
gradio==4.19.2
python-dotenv==1.0.1
transformers==4.38.2
torch==2.2.1
opencv-python
numpy
pdf2image
pytesseract
Pillow
google-generativeai>=0.3.2
pydantic>=2.5.2
fastapi>=0.100.0
starlette>=0.27.0